<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
    <style>
        .active {
            background-color: #ddd;
        }
        .message-box {
            padding: 10px 20px;
            /* background: #4fc08d; */
            /* border: 1px solid #42b983; */
        }
        /* x内容向右浮动 */
        .message-box-close {
            float: right;
        }

        .success {
            background: #4fc08d;
            border: 1px solid #42b983;        }

        .warning {
            background: #f66;
            border: 1px solid #f66 right;
        }
        .toolBar {
            background: rgb(189, 255, 102);
            /* border: 1px solid rgb(189, 255, 102); */

        }
        /* 动画样式 */
        /* 入场之前和退场之后的状态 */
        .fade-enter,
        .fade-leave-to {
            opacity: 0;
        }
        
        .fade-enter-active,
        .fade-leave-active {
            transition: opacity 1s;
        }

    </style>
    <!--引入第三方动画库Animation.css  -->
    <link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- 
        Vue 核心设计理念：
            - 数据驱动应用
            - 典型的MVVM模式：Model /View/ViewModel(vue完成了ViewModel这层)  
        MVVM框架三要素：
            - 响应式->数据响应式
	        - 模版-> vue是如何解析模版的？
	        - 渲染 ->vue 先把模版转换成js函数（渲染），数据发生变化时，会重新执行渲染函数，得到最新的结果就是虚拟dom，我们要做的就是把虚拟dom变成真实的dom。
        Vue起到的作用就是链接我们的视图层View和数据层（Modle），Vue把数据dataBing绑定到我们的视图层, 同时也监听事件变化，反向修改数据模型（Modle）
     -->

    <!-- 宿主文件View(模版)->Dom -->
    <div id="app">
        <!-- <h2 title="{{title}}">  这是错的，我们要用v-bind指令-->
        <!-- v-bind:title="title" 把data里的title值绑定到h2的title属性上-->
        <!-- 简写:title -->
        <heading level="1" :title="'title1111'">
            {{title}}
        </heading>

        <message ref="msgSuccess" class="success"> 
            
            <!-- 因为组件封装那里用了插槽，这里的内容才可以被传递进去  -->
            <!-- 具名插槽 -->
            <!-- 用户内容复杂，需要各种组装拼接 -->
            <template v-slot:title="slotProps">
                <!-- 恭喜 -->
                <!-- <strong>恭喜</strong> -->
                <!-- <h2>恭喜</h2> -->
                <!-- {{title}} -->
                {{slotProps.title}}
            </template>
            <!-- 默认插槽 v-slot="default 可省" -->
            <template >
                添加类型成功!
            </template>
        </message>

        <message ref="msgWarn" class="warning"> 
  
            <template v-slot:title="slotProps">
                <strong> 警告</strong>
            </template>

            <template >
                请输入类型
            </template>
        </message>

        <h2 v-bind:title="title" >
         <!-- 插值文本{{}} -->
           {{title}}
        </h2> 
        <!-- toolBar -->
        <div class="toolBar" v-permission="'jasmine'"> 
            <button @click="$bus.$emit('message-close')" > 清空提示框</button>
        </div>
        <!-- v-model.number 绑定数字型 -->
        <type-add v-model.number="input_type" @input="input_type=$event" @add-type="addType"> </type-add>

        <!-- 批量更新价格 -->
        <p><input type="text" v-model="type_price" >
            <button @click="batchUpdate"> 批量更新价格</button>
        </p>

        <type-list :types="types"> </type-list>

        <p>
            <!-- 表达式 -->
            <!-- 类型总数: {{ types.length + "门"}} -->
            <!-- 计算属性 -->
            类型总数：{{total}}
        </p>
        <p>
            <!-- 监听器 -->
            类型总数：{{totalCount}}
        </p>
    </div>
  


    <!-- 引入vue.js -->
    <script src="vue.js"></script>


    <script>
        // 模拟用户登陆
        const role = 'admin';
        // 注册到总线
        Vue.prototype.$bus = new Vue();

        // 使用render函数定义heading组件
        Vue.component('heading',{
            // 类型校验，必须是String,且必填
            props: {
                level : {
                    type: String,
                    required: true
                },
                title : {
                    type: String,
                    default: ''
                }
            },
            render(h) {
                console.log(this.$slots.default)
                const vNode = h (
                    'h'+ this.level, //参数1，tagName
                    {attrs:{ title: this.title}},//参数2，data
                    this.$slots.default,//  参数3,子节点Vnode数组
                )
                console.log(vNode)
                return vNode
            }
        })

        // 定义全局的过滤器
        Vue.filter("filterName", function(filterContent){
            return contentAfterfilter
        })

        // 自定义全局指令
        Vue.directive("focus",{
            // 钩子函数
            inserted(el){
                el.focus()
            }
        })

        // 自定义全局指令
        Vue.directive('permission',{
            inserted(el, binding){
                console.log(binding)
                // 若当前用户不是admin，移除该指令作用的元素
                if (binding.value != role) {
                    el.parentElement.removeChild(el)
                }
            }
        })

        //自定义弹窗组件
        Vue.component("message", {

            data() {
                return {
                    show: false
                }
            },
            methods: {
                toggle() {
                    this.show = !this.show
                }
            },
            template:
            `
            <!-- <transition name="fade">-->
            <transition enter-active-class="animated bounceIn" leave-active-class="animated bounceOut">
                <div class="message-box" v-if="show">
                    <!-- 具名插槽 -->
                    <slot name="title" title="来自子组件传递过来的内容"></slot>

                    <!-- 插槽-占位，表示这个组件的内容从外面传入 -->
                    <slot></slot>
                    <span class="message-box-close" @click="toggle">x</span>
                </div>
            </transition>
            
            `,
            mounted(){
                // 用注册的总线监听message-close，当收到message-close，就执行一个方法()=>{}：关闭弹框
                this.$bus.$on('message-close', ()=> {
                    this.toggle()
                })
            }
        }),
        // 添加类型组件
        Vue.component("type-add",{
            props: ["value"],
            data() {
                return {
                    input_type: 'please input',
                }
            },

            methods: {
                addType() {
                    //, 派发⌚事件
                    //. addType 这里写addType不会生效
                    this.$emit("add-type") 
                },

                onInput(e) {
                    //, 派发⌚事件,返回value值
                    this.$emit('input', e.target.value) 
                },
            },

            // mounted () {
            //     this.$refs.inp.focus();
            // },
    
            template: 
            `
            <div>
                <!-- 用户输入 -->
                <p>
                    <!-- v-model 不加再次在input输入,输入不会写入到model imput_msg 里面-->
                    <input type="text" :value="value" @input="onInput" v-on:keydown.enter='addType' v-focus>
                    <!-- {{imput_msg}} -->
                    <button @click = 'addType'> add </button>
                </p>
            </div>
            `
        })
        // 组件化类型列表
        Vue.component("type-list",{

            data() {
                return {
                    selectedType: '',
                }
            },
            // 属性定义的两种方法
            // props : ["types"],
            // 推荐第二种，方便属性校验
            props: {
                types:{
                    type: Array,
                    default: []
                }
            },

            template: 
            `
            <!-- 加根节点 -->
            <div>
                <!-- 条件渲染 -->
                <!-- v-if 和 v-for 不要放在一个标签上他们有优先级的不同 -->
                <p v-if = "types.length ===0">
                    没人任何type信息
                </p>        
                <!-- 列表渲染 -->
                <!-- <div v-for="type in types" :key="type"  :class="{active: selectedType === type}" @click="selectedType = type">
                    {{ type }}
                </div> -->
                <div class="type list" v-else>
                    <transition-group name="fade">
                        <div v-for="type in types" :key="type.name" :style="{backgroundColor: (selectedType === type ? '#ddd' : 'transparent')}" @click="selectedType = type">
                            {{ type.name }} - {{type.price | curentcy('$$$') }}
                        </div>
                    </transition-group>
                </div>
            </div>   
            `,

            // 定义一个局部的过滤器
            // symbol='$' 默认值
            filters: {
                curentcy: function(value, symbol='$') {
                    return symbol + value;
                }
            }
        })

        // 模拟异步调用
        function getTypes() {
            return new Promise(resolve => { 
               setTimeout(() => {
                resolve ([{name:'web'}, {name:'app'}])}, 2000);
            }) }

        // 1.创建vue实例,传入配置对象，宿主文件el是app
        const app = new Vue({
            el: '#app',
            data() {
                return {
                    title: 'this is a title',
                    types: [],
                    input_type : '',
                    // types: [ ],
                    totalCount: '',
                    isShow: false,
                    type_price:0,
                    isShowWarning: false
                }
            },

            methods: {
                addType() {
                    //, 添加type到types
                    if(this.input_type) {
                        this.types.push({name:this.input_type})
                        this.input_type = ''
                        this.$refs.msgSuccess.toggle()
                    }else {
                        this.$refs.msgWarn.toggle()
                    }
                },
                batchUpdate() {
                    this.types.forEach(c => {
                        // 动态设置属性,写法1
                        // Vue.set(c, 'price', this.type_price)

                        // 写法2
                        this.$set(c, 'price', this.type_price)
                        //不生效,view不会更新
                        // c.price = this.price
                    });
                }
            },

            // created(){}
            // mounted(){}
            async created(){
                const type = await getTypes()
                this.types = type

                // 批量初始赋值price属性
                this.batchUpdate()
            },

            computed: {
                total() {
                    return this.types.length + "门";
                }
            },

            // watch: {
            //     types(newValue, oldValue) {
            //         this.totalCount = this.types.length + "门";
                    
            //     }
            // },
            watch: {
                types: {
                    immediate: true,
                    // deep: true,
                    handler(newValue, oldValue) {
                        this.totalCount = this.types.length + "门";
                    }
                }
            },

        })

        // 设置定时器,1s钟以后换标题
        // setTimeout(() => {
        //     app.title ='mua, hello vue'
            
        // }, 1000);

    </script>
    
</body>
</html>