<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
    <style>
        .active {
            background-color: #ddd;
        }
    </style>
    
</head>
<body>
    <!-- 
        Vue 核心设计理念：
            - 数据驱动应用
            - 典型的MVVM模式：Model /View/ViewModel(vue完成了ViewModel这层)  
        MVVM框架三要素：
            - 响应式->数据响应式
	        - 模版-> vue是如何解析模版的？
	        - 渲染 ->vue 先把模版转换成js函数（渲染），数据发生变化时，会重新执行渲染函数，得到最新的结果就是虚拟dom，我们要做的就是把虚拟dom变成真实的dom。
        Vue起到的作用就是链接我们的视图层View和数据层（Modle），Vue把数据dataBing绑定到我们的视图层, 同时也监听事件变化，反向修改数据模型（Modle）
     -->

    <!-- 宿主文件View(模版)->Dom -->
    <div id="app">
        <!-- <h2 title="{{title}}">  这是错的，我们要用v-bind指令-->
        <!-- v-bind:title="title" 把data里的title值绑定到h2的title属性上-->
        <!-- 简写:title -->

        <h2 v-bind:title="title"> 
         <!-- 插值文本{{}} -->
           {{title}}
        </h2> 

        <!-- 用户输入 -->
        <p>
            <!-- v-model 不加再次在input输入,输入不会写入到model imput_msg 里面-->
            <input type="text" v-model="imput_msg" v-on:keydown.enter='addType'>
            <!-- {{imput_msg}} -->
            <button @click = 'addType'> add </button>
        </p>
        <!-- 条件渲染 -->
        <!-- v-if 和 v-for 不要放在一个标签上他们有优先级的不同 -->
        <p v-if = "types.length == 0">
            没人任何type信息
        </p>        
        <!-- 列表渲染 -->
        <!-- <div v-for="type in types" :key="type"  :class="{active: selectedType === type}" @click="selectedType = type">
            {{ type }}
        </div> -->
        <div class="type list" v-else>
            <div v-for="type in types" :key="type" :style="{backgroundColor: (selectedType === type ? '#ddd' : 'transparent')}" @click="selectedType = type">
                {{ type }}
            </div>
        </div>


    </div>

    <!-- 引入vue.js -->
    <script src="vue.js"></script>

    <script>
        // 1.创建vue实例,传入配置对象，宿主文件el是app
        const app = new Vue({
            el: '#app',
            data() {
                return {
                    title: 'this is a title',
                    // types: ['web', 'app'],
                    types: [ ],

                    imput_msg: 'please input',
                    selectedType: '',
                }
            },
            methods: {
                addType() {
                    //, 添加type到types
                    this.types.push(this.imput_msg)
                    //,  清空输入框
                    this.imput_msg = ''
                }
            },

        })

        // 设置定时器,1s钟以后换标题
        setTimeout(() => {
            app.title ='mua, hello vue'
            
        }, 1000);
    </script>
    
</body>
</html>