<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
    <style>
        .active {
            background-color: #ddd;
        }
        .message-box {
            padding: 10px 20px;
            background: #4fc08d;
            border: 1px solid #42b983;
        }
        /* x内容向右浮动 */
        .message-box-close {
            float: right;
        }

    </style>
    
</head>
<body>
    <!-- 
        Vue 核心设计理念：
            - 数据驱动应用
            - 典型的MVVM模式：Model /View/ViewModel(vue完成了ViewModel这层)  
        MVVM框架三要素：
            - 响应式->数据响应式
	        - 模版-> vue是如何解析模版的？
	        - 渲染 ->vue 先把模版转换成js函数（渲染），数据发生变化时，会重新执行渲染函数，得到最新的结果就是虚拟dom，我们要做的就是把虚拟dom变成真实的dom。
        Vue起到的作用就是链接我们的视图层View和数据层（Modle），Vue把数据dataBing绑定到我们的视图层, 同时也监听事件变化，反向修改数据模型（Modle）
     -->

    <!-- 宿主文件View(模版)->Dom -->
    <div id="app">
        <!-- <h2 title="{{title}}">  这是错的，我们要用v-bind指令-->
        <!-- v-bind:title="title" 把data里的title值绑定到h2的title属性上-->
        <!-- 简写:title -->

        <message :show="isShow" @close="isShow=$event"> 
            <!-- 因为组件封装那里用了插槽，这里的内容才可以被传递进去  -->
            添加类型成功!
        </message>

        <h2 v-bind:title="title"> 
         <!-- 插值文本{{}} -->
           {{title}}
        </h2> 

        <type-add v-model="input_type" @input="input_type=$event" @add-type="addType"> </type-add>

        <type-list :types="types"> </type-list>

        <p>
            <!-- 表达式 -->
            <!-- 类型总数: {{ types.length + "门"}} -->
            <!-- 计算属性 -->
            类型总数：{{total}}
        </p>
        <p>
            <!-- 监听器 -->
            类型总数：{{totalCount}}
        </p>
    </div>
  


    <!-- 引入vue.js -->
    <script src="vue.js"></script>


    <script>
        //自定义弹窗组件
        Vue.component("message", {
            props: ["show"],
            methods: {
                close() {
                    this.$emit("close")     
                }
            },
            template:
            `
            <div class="message-box" v-if="show">
                <!-- 插槽-占位，表示这个组件的内容从外面传入 -->
                <slot></slot>
                <span class="message-box-close" @click="$emit('close', false)">x</span>
            </div>
            `
        }),
        // 添加类型组件
        Vue.component("type-add",{
            props: ["value"],
            data() {
                return {
                    input_type: 'please input',
                }
            },

            methods: {
                addType() {
                    //, 派发⌚事件
                    //. addType 这里写addType不会生效
                    this.$emit("add-type") 
                },

                onInput(e) {
                    //, 派发⌚事件,返回value值
                    this.$emit('input', e.target.value) 
                },
    
            },

            template: 
            `
            <div>
                <!-- 用户输入 -->
                <p>
                    <!-- v-model 不加再次在input输入,输入不会写入到model imput_msg 里面-->
                    <input type="text" :value="value" @input="onInput" v-on:keydown.enter='addType'>
                    <!-- {{imput_msg}} -->
                    <button @click = 'addType'> add </button>
                </p>
            </div>
            `
        })
        // 组件化类型列表
        Vue.component("type-list",{

            data() {
                return {
                    selectedType: '',
                }
            },
            // 属性定义的两种方法
            // props : ["types"],
            // 推荐第二种，方便属性校验
            props: {
                types:{
                    type: Array,
                    default: []
                }
            },

            template: 
            `
            <!-- 加根节点 -->
            <div>
                <!-- 条件渲染 -->
                <!-- v-if 和 v-for 不要放在一个标签上他们有优先级的不同 -->
                <p v-if = "types.length ===0">
                    没人任何type信息
                </p>        
                <!-- 列表渲染 -->
                <!-- <div v-for="type in types" :key="type"  :class="{active: selectedType === type}" @click="selectedType = type">
                    {{ type }}
                </div> -->
                <div class="type list" v-else>
                    <div v-for="type in types" :key="type" :style="{backgroundColor: (selectedType === type ? '#ddd' : 'transparent')}" @click="selectedType = type">
                        {{ type }}
                    </div>
                </div>
            </div>   
            `
        })

        // 模拟异步调用
        function getTypes() {
            return new Promise(resolve => { 
               setTimeout(() => {
                resolve (['web', 'app'])}, 2000);
            }) }

        // 1.创建vue实例,传入配置对象，宿主文件el是app
        const app = new Vue({
            el: '#app',
            data() {
                return {
                    title: 'this is a title',
                    types: [],
                    input_type : 'please input',
                    // types: [ ],
                    totalCount: '',
                    isShow: false,
                }
            },

            methods: {
                addType() {
                    //, 添加type到types
                    if(this.input_type.length > 0) {
                        this.types.push(this.input_type)
                        this.input_type = ''
                        this.isShow = true
                    }
                },
    
            },

            // created(){}
            // mounted(){}
            async created(){
                const type = await getTypes()
                this.types = type
            },

            computed: {
                total() {
                    return this.types.length + "门";
                }
            },

            // watch: {
            //     types(newValue, oldValue) {
            //         this.totalCount = this.types.length + "门";
                    
            //     }
            // },
            watch: {
                types: {
                    immediate: true,
                    // deep: true,
                    handler(newValue, oldValue) {
                        this.totalCount = this.types.length + "门";
                    }
                }
            },

        })

        // 设置定时器,1s钟以后换标题
        // setTimeout(() => {
        //     app.title ='mua, hello vue'
            
        // }, 1000);

    </script>
    
</body>
</html>